.DS_Store
xcode/.DS_Store
xcode/build/
xcode/Couleurs.xcodeproj/xcuserdata
xcode/Couleurs.xcodeproj/project.xcworkspace/xcshareddata
xcode/Couleurs.xcodeproj/project.xcworkspace/xcuserdata/
assets/sounds/*
assets/images/*
assets/shaders/fb_lib
